/* за мен ================================================= */

@media screen and (max-width: 1200px) {
    #responsiveNav {
        display: block;
    }
    .nav2 {
        display: none;
    }
}

@media screen and (max-width: 1900px) {
    #hobby {
        width: 300px;
        height: 80px;
    }
}

@media screen and (max-width: 1825px) {
    #hobby {
        width: 280px;
        height: 80px;
    }
}

@media screen and (max-width: 1770px) {
    .skills {
        width: 450px;
    }
    #Info {
        float: none;
    }
    .fst-italic {
        font-size: 14px;
    }
    #hobby {
        width: 250px;
        height: 80px;
        margin-left: 15px;
    }
    /* .hobbyWindow {
        display: flex;
    } */
}

@media screen and (max-width: 580px) {
    .forMe {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 850px) {
    .responsive {
        width: 100%;
        height: auto;
    }
    .forMe {
        margin-left: 0;
        margin-right: 0;
        background-color: rgba(0, 0, 0, 0.582);
        border-style: none;
        font-size: 20px;
    }
    .info-z2 {
        float: none;
        float: left;
        width: 350px;
    }
    .fst-italic {
        font-size: 21px;
    }
}


/* за мен =================================================*/