    * {
        box-sizing: border-box;
        /* max-height: 100vh; */
        font-family: 'Oswald', sans-serif;
        transition: ease-in-out 0.3s;
        color: aliceblue;
    }
    
    body {
        background-image: url("../images/background3.jpg");
        background-position: center;
        background-size: cover;
        position: relative;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100%;
    }
    
    h1 {
        font-size: 35px;
    }
    
    #header {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 120px;
    }
    
    #header * {
        transition: ease-in-out 0.3s;
    }
    
    header {
        padding-top: 150px;
    }
    
    #headerName {
        color: rgb(218, 218, 218);
        font-family: 'Oswald', sans-serif;
        margin-left: 100px;
        border-bottom: 2px solid rgb(253 105 0 / 92%);
    }
    
    #headerName:hover {
        color: rgb(255, 255, 255)
    }
    
    a,
    li {
        font-style: none;
        list-style-type: none;
        text-decoration: none;
        color: rgb(218, 218, 218);
    }
    
    #headerName2 {
        color: rgb(218, 218, 218);
        font-family: 'Oswald', sans-serif;
        margin-left: 100px;
        margin-left: 60px;
    }
    
    #nav li {
        float: left;
        margin-left: 20px;
        font-size: 25px;
        padding-top: 25px;
    }
    
    #navigation>#nav li a :hover {
        /* border-bottom: 2px solid rgb(253 105 0 / 92%);
    visibility: visible;
    transition: ease-in-out 0.3s; */
        font-size: 50px;
    }
    
    #nav li a :hover {
        font-size: 50px;
    }
    
    .nav .active:before {
        visibility: visible;
        width: 25px;
    }
    
    li :hover {
        color: rgb(255, 255, 255);
    }
    
    .active {
        border-bottom: 2px solid #fd6900eb;
        /* width: 50px; */
        visibility: visible;
    }
    
    .disabled {
        color: rgb(153, 154, 155);
    }
    
    .soccialMedia {
        color: aliceblue;
        font-size: 25px;
        float: left;
        margin-left: 45px;
        margin-top: 30px;
        margin-right: 10px;
    }
    
    .logo1 {
        background-color: rgb(80, 79, 79);
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: grid;
        place-items: center;
        margin-left: 10px;
    }
    
    .logo1:hover {
        background-color: #fd6900eb;
        transition: ease-in-out 0.3s;
    }
    /* =========================== ЗА МЕН =================== */
    
    .info1 {
        text-transform: uppercase;
        color: rgb(194, 190, 190);
        font-size: 14px;
    }
    
    .forMe {
        /* display: none; */
        background-color: rgba(0, 0, 0, 0.8);
        margin-left: 200px;
        margin-right: 200px;
        padding-top: auto;
        padding-bottom: 360px;
        border-color: #fd6900eb;
        border-style: groove;
        margin-bottom: 55px;
        height: auto;
        padding-left: 85px;
        padding-right: 85px;
    }
    
    #nameLink {
        float: left;
        font-size: 20px;
        color: aliceblue;
        margin-left: 100px;
        margin-top: 5px;
    }
    
    #text {
        float: left;
    }
    
    .nav2 {
        display: flex;
        background-attachment: fixed;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        /* top: 0; */
        width: 100%;
        margin: 0;
        display: grid;
        place-items: center;
    }
    
    a:hover {
        text-decoration: none;
        color: aliceblue;
        transition: ease-in-out 0.3s;
    }
    
    #navigation2 li :hover {
        text-decoration: none;
    }
    
    #navigation2 li {
        float: left;
        /* margin-left: 20px; */
        font-size: 25px;
        float: right;
        margin-right: 30px;
        padding: 0;
        margin-top: 5px;
    }
    
    #navigation2 {
        background-color: rgb(66, 66, 66);
        width: 100%;
        height: 50px;
        margin: 0;
    }
    
    .bi-chevron-compact-right {
        color: #fd6900eb;
        float: left;
        font-size: 20px;
    }
    /* .responsive {
    width: 30%;
    height: auto;
} */
    
    .progress {
        height: 10px;
        border-radius: 0px;
    }
    
    .skills {
        padding-top: 25px;
        width: 550px;
    }
    
    .progress-bar {
        background-color: #fd6900eb;
    }
    
    .hobbyWindow {
        padding-bottom: 10px;
    }
    
    .hobbyWindow2 {
        padding-top: 50px;
        cursor: context-menu;
    }
    
    .hobbyWindow2 #hobby:hover {
        transition: ease-in-out 0.3;
        background-color: rgba(104, 104, 104, 0.541);
        cursor: context-menu;
    }
    
    .hobbyWindow2:after {
        content: "";
        display: table;
        clear: both;
    }
    
    #hobby {
        /* background-color: rgb(37, 37, 37); */
        background-color: rgba(66, 66, 66, 0.479);
        width: 313px;
        height: 80px;
        display: flex;
        /* display: grid; */
        align-items: center;
        place-items: center;
        font-size: 20px;
        font-weight: 600;
    }
    
    .info-z2 {
        padding-top: 2px;
        float: right;
        width: 350px;
        width: 300px;
    }
    
    #responsiveNav {
        display: none;
    }
    /* =========================== ЗА МЕН ========КРАЙ======= */
    /* =======================prtfolio ========================== */
    
    .column {
        float: left;
        width: 25%;
        padding: 0 10px;
    }
    /* Remove extra left and right margins, due to padding */
    
    .row {
        padding-right: 10px;
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Responsive columns */
    
    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }
    }
    /* Style the counter cards */
    
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 0;
        text-align: center;
        background-color: #000000;
        display: fixed;
        border-color: rgb(173, 173, 173);
        border-width: 2px;
        border-style: groove;
    }
    
    .column {
        float: left;
        width: 55%;
        padding: 0 10px;
        box-sizing: border-box;
        padding-bottom: 25px;
    }
    
    .card:hover {
        /* background-color: lawngreen; */
        /* cursor: pointer; */
        box-shadow: 0 4px 8px 0 rgb(241, 239, 239), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
    }
    
    .row {
        margin: 0px;
        padding-top: 70px;
        padding-bottom: 85px;
        /* font-style: italic; */
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    @media screen and (max-width: 850px) {
        .column {
            width: 100%;
            /*50*/
            display: block;
            margin-bottom: 20px;
        }
    }
    
    .respImg {
        margin-left: 20px;
        margin-bottom: 20px;
        border-color: rgb(220, 236, 236);
        border-style: groove;
        border-width: 2px;
    }
    
    .respImg:hover {
        box-shadow: 0 4px 8px 0 rgb(241, 239, 239), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    /* =========END============prtfolio ========================= */